@charset "utf-8";

*{
	margin: 0px;
	text-decoration: none;
	list-style: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.07em;
	font-family: arial, "sans serif";

}

body{
	-moz-background-color: white;
	-ms-background-color: white;
	-o-background-color: white;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#frase::before{
	content: "→";
	position: relative;
	left: -10px;
	-ms-color:black;
	-moz-color:black;
	color: black;
	animation: seta 0.5s ease-in 0s infinite alternate; 

}
#frase{
	height: 60px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	-ms-color:black;
	-moz-color:black;
	color: black;
	padding: 20px;
	font-size: 1.455em;
}

.materia_img{
	max-width: 70%;
}

/****************animação ***********************************/
@keyframes seta{
	from{
		left: -10px;
	}

	to{
		left: -3px;
	}
}

/**********************************************************/

.lista_conteudo ul li a::before {
	content: "→";
	margin-right: 10px;
	position: relative;
	text-align: center;
	color: rgba(0,0,0, 0.9);

}
.flex_materia h1{
	text-shadow: 5px 10px  5px black;
}
.flex_materia{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

h1 {
	-ms-color:white;
	-moz-color:white;
	color: white;
	font-size: 1.9em;
}


/*conteudo do main*/
.conteudo_princ{
	background-image: url('imagens/folha fundo img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: linear-gradient(-180deg, #b99c73, #e2d2ae);
	box-shadow: 10px 5px 15px grey;
	border-radius: 20px;
	margin: 20px;
	max-width: 90%;
	min-width: 80%;
	display: grid;
	grid-template-columns:  repeat(4,1fr);
	grid-gap: 20px;
	grid-template-areas:
	"fisica fisica  quimica quimica"
	"matematica matematica biologia biologia"
	;
	padding: 50px;
	justify-content: center;

}

/*classe MATERIA PADRÃO*/
.materia_img{
	min-width: 120px;
	max-width: 130px;
}

.materia_img img{
	min-width: 120px;
	max-width: 100%;
}

.linha{
	-ms-background:#0014ffde;
	-moz-background:#0014ffde;
	background:#0014ffde;
	width: 50%;
	height: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}
.materia{
	-moz-border:2px solid black;
	-ms-border:2px solid black;
	border: 2px solid black;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
}

.lista_conteudo ul li{
	padding: 10px;
	font-size: 1.008em;

}
.lista_conteudo a{
	/*-webkit-color: black; /*(Chrome, Safari, versões mais recentes do Opera.)*/
	-moz-color: black; /*firefox*/
	-o-color: black; /*(Versões antigas do Opera)*/
	-ms-color: black; /*internet explorer*/
	color: black;
}

/******************************************************/
/* class DESENVOLVIMENTO */

.desenvolvimento {
	color: white;
	text-transform: uppercase;
	font-size: 1.01em;

}


/******************************************************/

/*separa colunas por materia*/
.fisica{
	grid-area: fisica;
}
.quimica{
	grid-area: quimica;
}
.matematica{
	grid-area: matematica;
}
.biologia{
	grid-area: biologia;
}

/************************* responsividade **************************************/
@media (max-width: 760px){
	.conteudo_princ{
		grid-template-columns: 1fr;
		grid-template-areas:
		"fisica"
		"quimica"
		"matematica"
		"biologia"
		;
		padding: 20px;
		margin: 10px;

	}

}

@media (max-width: 560px){
	#frase{
		font-size: 1em;
	}
	
	.conteudo_princ{
		max-width: 100%;
		min-width: 100%;
		padding: 10px;
		margin: 20px 0px;
		box-shadow: none;
	}
}