@charset "utf-8";

/********** voltar*****************/

.clas_voltar{
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items:
	 center;
}
.bt_voltar{
	padding: 20px;
	background-color: black;
	color: white;
	border-radius: 20px;
	box-shadow: 2px 5px 3px gray;
}


/*********************************/


.img_header img{
	width: 100%;
}

.img_header{
	width: 500px;
}

.header{
	background: linear-gradient(45deg, #000000, #3c3636);
	color: white;
	width: 100%;

	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer{
	background: linear-gradient(45deg, #000000, #3c3636);
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.footer span{
	margin-top: 20px;
	margin-bottom: 20px;

}

.flex_rodape div + div{
	margin-left: 20px;
}

.flex_rodape{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_footer img{
	border-radius: 30px;
}

.img_footer img,
.progressBar progress{
	width: 100%;
}

.progressBar progress{
	height:20px;
}

.img_footer,
.progressBar{
	max-width: 60px;
	min-width: 50px;
}

@media screen and (max-width:700px){
	.img_header{
	width: 280px;
	}
	
	.img_header img{
		width: 100%;
	}

	.footer span{
		font-size: 1.02em;
	}

	.bt_voltar{
		padding: 10px;
	}

}