@charset "utf-8";

*{
	margin: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-size: 1.07em;
	font-family: arial, "sans serif";
}


.conteiner_conteudo section{
	margin: 20px;
}

.conteiner_conteudo{
	background-image: url('imagens/folha fundo img20.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: linear-gradient(-180deg, #b99c73, #e2d2ae);
	box-shadow: 10px 5px 15px grey;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 80%;
	min-width: 70%;
}
.conteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
}
span{
	color: white;
	font-size: 1.8em;
}

.resumo_lista{
    margin-inline-start: 10px; /*informa a margin inicial da frase*/
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
}

.resumo_listap {
	font-weight: normal;
	line-height: 30px;
	margin-inline-start: 30px;
	font-size: 1.05em;
	margin-top: 10px;

}

.resumo_lista_ord{
	font-weight: normal;
	line-height: 30px;
	margin-inline-start: 50px;
	margin-top: 10px;
	font-size: 1.05em;
}

figcaption{
	font-size: 0.9em;
	color: darkgray;

}

/**** IMAGENS *******/

.img-lista img,
.img-listap img,
.img-listam img{
	width: 100%;
}

.img-listap{
	max-width: 200px;	
}

.img-listam{
	max-width: 300px;	
}

.img-lista{
	max-width: 500px;	
}

/******************************/
h1{
	font-size: 1.7em;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

sup {
	font-size: 0.5em;
}



/********************************************/
 /*TABLEA DE QUIMICA*/

table, th, td{
	border: 2px solid black ;
	border-collapse: collapse;
	font-weight: normal;
	font-size: 20px;
	min-width: 50%;
	max-width: 400px;
	text-align: center;
	margin-bottom: 10px;
	padding: 5px;
}



/********************************************/
@media screen and (max-width: 700px){

	.conteiner_conteudo{
		box-shadow: 5px 5px 5px grey;
		max-width: 95%;
	}

	h1{
		font-size: 1.3em;
	}

	.img-lista img, 
	.img-listam img, 
	.img-listap img{
		max-width: 100%;
		min-width: auto;
	}
	.img-lista, .img-listam {
		max-width: 350px;
		min-width: 200px;	
	}

	.img-listap{
		max-width: 200px;
		min-width: 200px;
	}

	.resumo_listap {
		font-size: 0.9em;
		margin-inline-start: 15px;
	}
	
	.resumo_lista_ord{
		font-size: 0.9em;
		margin-inline-start: 30px;

	}

	.resumo_lista{
		margin-inline-start: -15px;
		font-size: 1.032em;
	}

}
