@charset "utf-8";

*{
	margin: 0px;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-size: 1.07em;
	font-family: arial, "sans serif";
}

.header{
	background: linear-gradient(45deg, #000000, #3c3636);
	width: 100%;
	height: 25vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-header{
	width: 200px;

}

.img-header img{
	padding: 15px;
	width: 100%;
}

.conteiner_conteudo section{
	margin: 20px;
}
.conteiner_conteudo{
	background-image: url('imagens/folha fundo img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: linear-gradient(-180deg, #b99c73, #e2d2ae);
	box-shadow: 10px 5px 15px grey;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 80%;
	min-width: 70%;
}
.conteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
}
span{
	color: white;
	font-size: 1.8em;
}



.resumo_lista dd{
    margin-inline-start: 30px; /*informa a margin inicial do dd*/
	line-height: 30px;
}

.img-lista img{
	width: 100%;
}


.img-lista{
	max-width: 400px;	
}

h1{
	font-size: 1.7em;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.footer{
	background-color: black;
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.footer span{
	font-size: 1.3em;
	margin-top: 20px;
	margin-bottom: 20px;

}

.flex_rodape div + div{
	margin-left: 20px;
}

.flex_rodape{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_footer img,
.progressBar progress{
	width: 100%;
}
.img_footer,
.progressBar{
	max-width: 60px;
	min-width: 50px;
}

@media screen and (max-width: 700px){
	.img-header{
		width: 150px;

	}
	.conteiner_conteudo{
		box-shadow: 5px 5px 5px grey;
		max-width: 95%;
	}

	h1{
		font-size: 1.3em;
	}

	.img-lista img{
		max-width: 100%;
	}
	.img-lista{
		max-width: 350px;
		min-width: 320px;	
	}

	.resumo_lista dd{
		font-size: 0.8em;
		margin-inline-start: 15px;
	}
	.resumo_lista dt{
		margin-inline-start: -15px;
		font-size: 1.032em;
	}

	.footer span{
		font-size: 1.02em;
	}
}
